vllm==0.20.0
fastapi>=0.121.1
uvicorn>=0.34.0
python-dotenv>=1.2.1
huggingface_hub[hf_xet]
transformers==4.57.3

--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0
torchvision==0.26.0
torchaudio==2.11.0
